<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Website - About</title>
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body>
        <h1>Jhermon Sudderam</h1>
        <p>Hello, my name is Jhermon Sudderam. I currently attend the University of the West Indies, where I am pursuing a major in computer science. In the near future I would like ascertain CCNA certification and hopefully get an job in networking.</p>
    </body>
</html>